/**
    Title: grashorn-bobs-auto-repair.css
    Author: Brett Grashorn
    Date: 1/27/23
    Description: Stylesheet for Assignment 5.2 - Bobs Auto Repair
    Sources:  Web 330 HTML, CSS, and JavaScript Requirements 
    document
    Assign_5 document
 */

 /* Adjust assign-content div size */
.assign-content {
    width: 70%;
}

/* Return Link adjustments */
.return-home {
    margin-left: 32.5%;
    margin-top: 15px;
}

 /* Mode Switch adjustments */
 #icon-mode {
    position: relative;
    top: 5px;
    right: 5px;
}

#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

i:hover {
    cursor: pointer;
}