/**
    Title: grashorn-bobs-auto-repair.css
    Author: Brett Grashorn
    Date: 1/27/23
    Description: Stylesheet for Assignment 5.2 - Bobs Auto Repair
    Sources:  Web 330 HTML, CSS, and JavaScript Requirements 
    document
    Assign_5 document
 */


 /* Styling per Assign_5 */
#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 15px;
}

i:hover {
    cursor: pointer;
}

 /* Adjust assign-content div size */
.assign-content {
    width: 70%;
}

/* Gives return button space on top  */
.card {
    margin-bottom: 5px;
}

/* Return Link adjustments */
.return-home {
    margin-left: 32.5%;
    margin-top: 15px;
}

 /* Mode Switch adjustments */
 #icon-mode {
    position: relative;
    top: 5px;
    right: 5px;
}

/* Styles the shopping cart icon */
cart-component {
    color: var(--card-title-color);
    font-size: 32px;
    margin-left: 45%;
}

.drop-down-menu {
    width: 62%;
    height: 40px;
    border-radius: 3px;

}
