/**
    Title: restaurant.css
    Author: Brett Grashorn
    Date: 1/17/23
    Description: Stylesheet for Assignment 3.2 - Restaurant App
    Sources:  Web 330 HTML, CSS, and JavaScript Requirements 
    document
    Assign_3 document
 */

 /* Adjust position of light/dark mode button */
 #icon-mode {
    position: relative;
    top: 5px;
    right: 5px;
}

/* Applies correct text color to Card Title */
.card-title {
    color: var(--card-title-color);
}

/* Adjusts Card size to fit specifications */
.card {
    width: 100%;
    text-align: left; 
}

/* Puts menus in grids */
.card-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px; 
}

/* Centers Text for results */
.assign-results-text {
    text-align: center;
    padding: 0;
}

/* Adjusts return button */
.return-home {
    margin-left: 34.25%;
    width: 1%;
}
